<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310638962548-ormo7il25336hdu75kd9h5llra6qavps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310638962548-ormo7il25336hdu75kd9h5llra6qavps</string>
	<key>API_KEY</key>
	<string>AIzaSyCFExLEQiHi5Sqy2-DnUDG9jEYSScNVzrw</string>
	<key>GCM_SENDER_ID</key>
	<string>310638962548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daniel.martinez.practica3.Drinks</string>
	<key>PROJECT_ID</key>
	<string>drinks-9615a</string>
	<key>STORAGE_BUCKET</key>
	<string>drinks-9615a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310638962548:ios:18893189d6b02f9c7cee21</string>
</dict>
</plist>